<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Node.js Chat</title>
		<style>
			#chat-history {
				overflow-y: auto;
				background-color: #eee;
				height: 400px;
				padding: 15px;
				margin: 15px;
				width: 50%;
			}
			input,
			img {
				margin: 15px;
			}
		</style>
		<link rel="stylesheet" type="text/css" href="/static/styles/index.css">
		<link rel="stylesheet" type="text/css" href="/static/styles/index-2.css">
	</head>

	<body>
		<h3>Login</h3>

		<form method="POST" action="/username" id="username-form">
			<input type="text" placeholder="Username" value="<!--- username --->" name="username" id="username">

			<input type="submit" value="Submit" id="submit-username">
		</form>

		<br>

		<h3>Secret</h3>

		<form method="POST" action="/secret" id="secret-form">
			<input type="text" placeholder="Secret" name="secret" id="secret">

			<input type="submit" value="Submit" id="submit-secret">
		</form>

		<h3>Create new room</h3>

		<form method="POST" action="/new-room" id="new-room" enctype="multipart/form-data">
			<input type="text" placeholder="Room name" name="roomname" id="add-room">
			<input type="text" name="password" placeholder="password" id="room-password">
			<input type="submit" value="Submit" id="submit-room">
		</form>
		
		<form method="POST" action="/room" id="room" hidden>
			<input type="text" name="id">
			<input type="password" name="password">
			<input type="submit">
		</form>

		<br>

		<ul id="rooms">
			<!--- rooms --->
		</ul>

		<script src="/static/scripts/index.js"></script>

		<!-- <img src="/static/images/img.jpeg" alt="Meow">
		<img src="/static/images/img-2.jpeg" alt="Meow 2"> -->
		<script src="/static/scripts/test.js"></script>
	</body>
</html>