<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Node.js Chat</title>
		<style>
			#chat-history {
				overflow-y: auto;
				background-color: #eee;
				height: 400px;
				padding: 15px;
				margin: 15px;
				width: 50%;
			}
			input,
			img {
				margin: 15px;
			}
		</style>
		<link rel="stylesheet" type="text/css" href="/static/styles/index.css">
	</head>

	<body>
		<h2>Node.js Chat</h2>

		<h3>Login</h3>
		<form method="POST" action="/username" id="username-form">
			<input 
				type="text" 
				id="username" 
				placeholder="Username" 
				value="<!--- username --->" 
				name="username"
			>
			<input type="submit" value="Submit" id="submit-username">
		</form>

		<button id="get-secret">Get secret</button>
		<input type="text" id="user-secret" style="opacity: 0;">

		<br>

		<h3>Secret</h3>
		<form method="POST" action="/change-session" id="secret-form">
			<input type="text" id="secret" placeholder="Secret" name="secret">
			<input type="submit" value="Submit" id="submit-secret">
		</form>

		<h3>Create new room</h3>
		<form method="POST" action="/new-room" id="new-room" enctype="multipart/form-data">
			<input type="text" id="add-room" placeholder="Room name" name="roomname">
			<input type="text" id="room-password" name="password" placeholder="password">
			<input type="submit" id="submit-room" value="Submit">
		</form>
		
		<form method="POST" action="/room" id="room" hidden>
			<input type="text" name="id">
			<input type="password" name="password">
			<input type="submit">
		</form>

		<br>

		<ul id="rooms">
			<!--- rooms --->
		</ul>

		<script src="/static/scripts/index.js"></script>
	</body>
</html>